@font-face {
  font-family: "proximaNovaBlack";
  src: url("./../static/fonts/Proxima Nova-Black.otf") format("otf");
}
@font-face {
  font-family: "proximaNovaRegular";
  src: url("./../static/fonts/Proxima Nova-Regular.otf") format("otf");
}

$landing-page-top-padding: 60px; 
$brand-color: #603eaf;

html, body{
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'proximaNovaRegular', sans-serif;
  box-sizing: border-box;

}

@mixin line-border($thickness){
   border: $thickness solid white;
}
.right{ float: right; }


.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 10px 50px;
}


#landing-page-top{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: $landing-page-top-padding 4px;
  background: url('../static/img/inanc-avadit-571215-unsplash.jpg') center center;
  background-size: cover;
}

#landing-page-top .container{
  height: 100%;
}


#nav-menu-btn{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  
  span{
    color: white;
    font-size: 1.6em;
    margin: 0 0.3em;
  }
  
  &:hover{
  cursor: pointer;
  zoom:1.1;
  }
  
}


.caption-text-container{
  
  width: 80%;
  position: absolute;
  bottom: 60px + $landing-page-top-padding;
  
  h2{
    font-family: 'proximaNovaBlack', sans-serif;
    color: white;
    font-size: 5em;
  }
}

button.cta-button{
  background-color: transparent;
  border: none;
  @include line-border(6px);
  color: white;
  padding: 30px 60px;
  font-size: 2em;
  
  &:hover{
    cursor:pointer;
    zoom:1.1;
  }
}

#menu-container{
  width: 380px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $brand-color;
  padding: 60px 40px;
 
}

.close-container{
  color:white;
  display: inline-flex;
  float: right;
  p{
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 16px;
  }
   &:hover{
    zoom: 1.1;
     cursor: pointer;
  }
}

ul#site-menu{
  color: white;
  font-size: 2.6em;
  font-weight: bold;
  padding: 140px 0 0 0;
  li{
    list-style: none;
    margin: 22px 0;
    a:link, a:visited{
      color: white;
      text-decoration: none;
      &:hover{
        zoom:1.1;
      }
    }
  }
  
  ul{
    font-size: 0.8em;
    font-weight: 300;
    padding: 0;
  }
}

form {
  position: relative;
  input{
    background-color: transparent;
    @include line-border(4px);
    width: 100%;
    height: 48px;
    padding: 6px 12px;
    color: white;
    font-size: 1.2em;
    margin-top: 20px;
      box-sizing: border-box;

    &::placeholder{
      color: white;
    }
  }
  .search-icon{
    position: absolute;
    right: 21px;
    top: 34px;
  }
}


